USE [PlantsDatabase]
GO
/****** Objeto:  Table [dbo].[plantas]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plantas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[formatoFolha] [int] NULL,
	[pontaFolha] [int] NULL,
	[tipoFlor] [int] NULL,
	[tipoHaste] [int] NULL,
	[tipoFruta] [int] NULL,
	[waterDays] [nvarchar](255) NULL,
	[fertilizationMonth] [nvarchar](255) NULL,
 CONSTRAINT [PK_plantas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[plantasUsuarios]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plantasUsuarios](
	[user_id] [int] NULL,
	[plant_name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[age] [int] NULL,
	[formatoFolha] [int] NULL,
	[pontaFolha] [int] NULL,
	[tipoFlor] [int] NULL,
	[tipoHaste] [int] NULL,
	[tipoFruta] [int] NULL,
	[creationDate] [datetime] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_plantasUsuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[TformatoFolha]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TformatoFolha](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_formatoFolha] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[TpontaFolha]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TpontaFolha](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_pontaFolha] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[TtipoFlor]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TtipoFlor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_tipoFlor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[TtipoFruta]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TtipoFruta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_tipoFruta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[TtipoHaste]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TtipoHaste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_tipoHaste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[usuarios]    Data do Script: 01/07/2026 15:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[plantas] ON 

INSERT [dbo].[plantas] ([id], [name], [description], [formatoFolha], [pontaFolha], [tipoFlor], [tipoHaste], [tipoFruta], [waterDays], [fertilizationMonth]) VALUES (1, N'Acer Palmatum', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', 4, 1, 4, 3, 3, N'every day', N'1, 3, 5, 7, 9, 11')
INSERT [dbo].[plantas] ([id], [name], [description], [formatoFolha], [pontaFolha], [tipoFlor], [tipoHaste], [tipoFruta], [waterDays], [fertilizationMonth]) VALUES (2, N'Acer Tridente', N'Maecenas porttitor congue massa.', 4, 4, 3, 2, 3, N'Monday, Wednesday, Friday', N'every month')
INSERT [dbo].[plantas] ([id], [name], [description], [formatoFolha], [pontaFolha], [tipoFlor], [tipoHaste], [tipoFruta], [waterDays], [fertilizationMonth]) VALUES (3, N'Azaléa', N'Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.', 4, 1, 1, 2, 2, N'Sunday, Tuesday, Thursday, Saturday', N'2, 4, 6, 8, 10, 12')
SET IDENTITY_INSERT [dbo].[plantas] OFF
GO
SET IDENTITY_INSERT [dbo].[plantasUsuarios] ON 

INSERT [dbo].[plantasUsuarios] ([user_id], [plant_name], [description], [age], [formatoFolha], [pontaFolha], [tipoFlor], [tipoHaste], [tipoFruta], [creationDate], [id]) VALUES (1, N'Acer Palmatum', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', 1, 4, 1, 4, 3, 3, CAST(N'2024-03-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[plantasUsuarios] ([user_id], [plant_name], [description], [age], [formatoFolha], [pontaFolha], [tipoFlor], [tipoHaste], [tipoFruta], [creationDate], [id]) VALUES (2, N'Acer Tridente', N'Maecenas porttitor congue massa.', 1, 4, 4, 3, 2, 3, CAST(N'2024-03-21T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[plantasUsuarios] ([user_id], [plant_name], [description], [age], [formatoFolha], [pontaFolha], [tipoFlor], [tipoHaste], [tipoFruta], [creationDate], [id]) VALUES (3, N'Azaléa', N'Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.', 2, 4, 1, 1, 2, 2, CAST(N'2024-03-22T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[plantasUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[TformatoFolha] ON 

INSERT [dbo].[TformatoFolha] ([id], [name]) VALUES (1, N'Rounded')
INSERT [dbo].[TformatoFolha] ([id], [name]) VALUES (2, N'Obovado')
INSERT [dbo].[TformatoFolha] ([id], [name]) VALUES (3, N'Oval')
SET IDENTITY_INSERT [dbo].[TformatoFolha] OFF
GO
SET IDENTITY_INSERT [dbo].[TpontaFolha] ON 

INSERT [dbo].[TpontaFolha] ([id], [name]) VALUES (1, N'Flat')
INSERT [dbo].[TpontaFolha] ([id], [name]) VALUES (2, N'Eyelash')
INSERT [dbo].[TpontaFolha] ([id], [name]) VALUES (3, N'Bite')
SET IDENTITY_INSERT [dbo].[TpontaFolha] OFF
GO
SET IDENTITY_INSERT [dbo].[TtipoFlor] ON 

INSERT [dbo].[TtipoFlor] ([id], [name]) VALUES (1, N'No flower')
INSERT [dbo].[TtipoFlor] ([id], [name]) VALUES (2, N'trimera')
INSERT [dbo].[TtipoFlor] ([id], [name]) VALUES (3, N'tetramera')
SET IDENTITY_INSERT [dbo].[TtipoFlor] OFF
GO
SET IDENTITY_INSERT [dbo].[TtipoFruta] ON 

INSERT [dbo].[TtipoFruta] ([id], [name]) VALUES (1, N'no fruit')
INSERT [dbo].[TtipoFruta] ([id], [name]) VALUES (2, N'fleshy')
INSERT [dbo].[TtipoFruta] ([id], [name]) VALUES (3, N'dry')
SET IDENTITY_INSERT [dbo].[TtipoFruta] OFF
GO
SET IDENTITY_INSERT [dbo].[TtipoHaste] ON 

INSERT [dbo].[TtipoHaste] ([id], [name]) VALUES (1, N'erect')
INSERT [dbo].[TtipoHaste] ([id], [name]) VALUES (2, N'climber')
INSERT [dbo].[TtipoHaste] ([id], [name]) VALUES (3, N'creeping')
SET IDENTITY_INSERT [dbo].[TtipoHaste] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [login], [password]) VALUES (1, N'dfqjjd@fettiv.com', N'chicago88')
INSERT [dbo].[usuarios] ([id], [login], [password]) VALUES (2, N'diego.gregb@hotmail.com', N'miami4545')
INSERT [dbo].[usuarios] ([id], [login], [password]) VALUES (3, N'ucmnyo@afyyrn.com', N'lasvegas8989')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[plantas]  WITH CHECK ADD  CONSTRAINT [FK_plantas_formatoFolha] FOREIGN KEY([formatoFolha])
REFERENCES [dbo].[TformatoFolha] ([id])
GO
ALTER TABLE [dbo].[plantas] CHECK CONSTRAINT [FK_plantas_formatoFolha]
GO
ALTER TABLE [dbo].[plantas]  WITH CHECK ADD  CONSTRAINT [FK_plantas_pontaFolha] FOREIGN KEY([pontaFolha])
REFERENCES [dbo].[TpontaFolha] ([id])
GO
ALTER TABLE [dbo].[plantas] CHECK CONSTRAINT [FK_plantas_pontaFolha]
GO
ALTER TABLE [dbo].[plantas]  WITH CHECK ADD  CONSTRAINT [FK_plantas_tipoFlor] FOREIGN KEY([tipoFlor])
REFERENCES [dbo].[TtipoFlor] ([id])
GO
ALTER TABLE [dbo].[plantas] CHECK CONSTRAINT [FK_plantas_tipoFlor]
GO
ALTER TABLE [dbo].[plantas]  WITH CHECK ADD  CONSTRAINT [FK_plantas_tipoFruta] FOREIGN KEY([tipoFruta])
REFERENCES [dbo].[TtipoFruta] ([id])
GO
ALTER TABLE [dbo].[plantas] CHECK CONSTRAINT [FK_plantas_tipoFruta]
GO
ALTER TABLE [dbo].[plantas]  WITH CHECK ADD  CONSTRAINT [FK_plantas_tipoHaste] FOREIGN KEY([tipoHaste])
REFERENCES [dbo].[TtipoHaste] ([id])
GO
ALTER TABLE [dbo].[plantas] CHECK CONSTRAINT [FK_plantas_tipoHaste]
GO
ALTER TABLE [dbo].[plantasUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_plantasUsuarios_formatoFolha] FOREIGN KEY([formatoFolha])
REFERENCES [dbo].[TformatoFolha] ([id])
GO
ALTER TABLE [dbo].[plantasUsuarios] CHECK CONSTRAINT [FK_plantasUsuarios_formatoFolha]
GO
ALTER TABLE [dbo].[plantasUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_plantasUsuarios_pontaFolha] FOREIGN KEY([pontaFolha])
REFERENCES [dbo].[TpontaFolha] ([id])
GO
ALTER TABLE [dbo].[plantasUsuarios] CHECK CONSTRAINT [FK_plantasUsuarios_pontaFolha]
GO
ALTER TABLE [dbo].[plantasUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_plantasUsuarios_tipoFlor] FOREIGN KEY([tipoFlor])
REFERENCES [dbo].[TtipoFlor] ([id])
GO
ALTER TABLE [dbo].[plantasUsuarios] CHECK CONSTRAINT [FK_plantasUsuarios_tipoFlor]
GO
ALTER TABLE [dbo].[plantasUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_plantasUsuarios_tipoFruta] FOREIGN KEY([tipoFruta])
REFERENCES [dbo].[TtipoFruta] ([id])
GO
ALTER TABLE [dbo].[plantasUsuarios] CHECK CONSTRAINT [FK_plantasUsuarios_tipoFruta]
GO
ALTER TABLE [dbo].[plantasUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_plantasUsuarios_tipoHaste] FOREIGN KEY([tipoHaste])
REFERENCES [dbo].[TtipoHaste] ([id])
GO
ALTER TABLE [dbo].[plantasUsuarios] CHECK CONSTRAINT [FK_plantasUsuarios_tipoHaste]
GO
ALTER TABLE [dbo].[plantasUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_plantasUsuarios_usuarios1] FOREIGN KEY([user_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[plantasUsuarios] CHECK CONSTRAINT [FK_plantasUsuarios_usuarios1]
GO
